html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $main-color;
  color: $base-color;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.76;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  outline: none;
  text-decoration: none;
}
