@import './utils/variables';
@import './base/common';
@import './components/visually-hidden';
@import './base/container';

@import './components/section-title';
@import './components/section-suptitle';
@import './components/base-button';
@import './components/accent-button';

@import './layout/header-hero';
@import './layout/advantages';
@import './layout/comments';
@import './layout/about';
@import './layout/gallery';
@import './layout/contacts';
@import './layout/products';
@import './layout/footer';
@import './layout/modal-about';
