<section class="about" id="about">
   <div class="container">
        <p class="about__suptitle suptitle">TRADITION AND LOVE</p>
        <h2 class="about__title title wow rollIn">HOW IT’S MADE?</h2>

        <div class="about__list">
            <div class="about__left">
                <picture>
                    <source srcset="./images/about/about.webp 1x, ./images/about/about@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./images/about/about.png 1x, ./images/about/about@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./images/about/about-tabl.webp 1x, ./images/about/about-tabl@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/about/about-tabl.png 1x, ./images/about/about-tabl@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/about/about-mob.webp 1x, ./images/about/about-mob@2x.webp 2x"
                        media="(min-width: 480px)" type="image/webp">
                    <source srcset="./images/about/about-mob.png 1x, ./images/about/about-mob@2x.png 2x"
                        media="(min-width: 480px)">
                    <img src="./images/about/about-mob.png" alt="Milk and cow" class="about__img">
                </picture>
            </div>
            <div class="about__right">
                <p class="about__main-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus
                    lorems eget, egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                    rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.</p>
                <p class="about__secondary-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__more-button " data-about-open>Read more
                    <svg class="icon-more-button">
                        <use href="./images/sprite.svg#icon-arrow-1"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>