<section class="advantages" id="made">
    <h1 class="is-hidden">ADVANTAGES</h1>
    <div class="container">
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__img-milk">
                    <h2 class="advantages__title title wow rollIn ">721</h2>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate conсectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__img-apple">
                    <h2 class="advantages__title title wow rollIn ">16kg</h2>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate conсectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__img-heart">
                    <h2 class="advantages__title title wow rollIn ">84</h2>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate conсectetur. Mauris massa.</p>
                </div>
            </li>
        </ul>
    </div>
</section>