<section class="comments">
    <div class="container comments__container">
        <div class="slider-wrap">
            <div class="slider-wrap__item">
                <picture>
                    <source
                        srcset="./images/comments/comments-icon-desktop.webp 1x, ./images/comments/comments-icon-desktop@2x.webp 2x, ./images/comments/comments-icon-desktop@3x.webp 3x"
                        media="(min-width: 1200px)" type="image/webp">
                    <source
                        srcset="./images/comments/comments-icon-desktop.png 1x, ./images/comments/comments-icon-desktop@2x.png 2x, ./images/comments/comments-icon-desktop@3x.png 3x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./images/comments/comments-icon-tablet.webp 1x, ./images/comments/comments-icon-tablet@2x.webp 2x, ./images/comments/comments-icon-tablet@3x.webp 3x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/comments/comments-icon-tablet.png 1x, ./images/comments/comments-icon-tablet@2x.png 2x, ./images/comments/comments-icon-tablet@3x.png 3x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/comments/comments-icon-mobile.webp 1x, ./images/comments/comments-icon-mobile@2x.webp 2x, ./images/comments/comments-icon-mobile@3x.webp 3x"
                        media="(max-width: 767px)" type="image/webp">
                    <source
                        srcset="./images/comments/comments-icon-mobile.png 1x, ./images/comments/comments-icon-mobile@2x.png 2x, ./images/comments/comments-icon-mobile@3x.png 3x"
                        media="(max-width: 767px)">
                    <img class="comments__icon" src="./images/comments/comments-icon-mobile.png"
                        alt="счастливая девушка">
                </picture>

                <div class="comments__text-frame">
                    <p class="comments__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="location">
                    <p class="location__text">Emily, Los Angeles</p>
                </div>

            </div>
            <div class="slider-wrap__item">
                <picture>
                    <source
                        srcset="./images/comments/comments-icon2.webp 1x, ./images/comments/comments-icon2@2x.webp 2x, ./images/comments/comments-icon2@3x.webp 3x"
                        type="image/webp">
                    <source
                        srcset="./images/comments/comments-icon2.png 1x, ./images/comments/comments-icon2@2x.png 2x, ./images/comments/comments-icon2@3x.png 3x">

                    <img class="comments__icon" src="./images/comments/comments-icon2.png"
                        alt="довольная клиентка в желтом платье">
                </picture>

                <div class="comments__text-frame">
                    <p class="comments__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="location">
                    <p class="location__text">Nona, Chicago</p>
                </div>

            </div>
            <div class="slider-wrap__item">
                <picture>
                    <source
                        srcset="./images/comments/comments-icon3.webp 1x, ./images/comments/comments-icon3@2x.webp 2x, ./images/comments/comments-icon3@3x.webp 3x"
                        type="image/webp">
                    <source
                        srcset="./images/comments/comments-icon3.png 1x, ./images/comments/comments-icon3@2x.png 2x, ./images/comments/comments-icon3@3x.png 3x">
                    <img class="comments__icon" src="./images/comments/comments-icon3.png"
                        alt="девушка в очках улыбается">
                </picture>

                <div class="comments__text-frame">
                    <p class="comments__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="location">
                    <p class="location__text">Lily, New York</p>
                </div>

            </div>
        </div>


    </div>
</section>