<section class="gallery">
    <div class="container gallery__container">
        <h2 class="visually-hidden">IceCream Gallery</h2>
        <picture>
            <source
                srcset="./images/gallery/gallery-desktop.webp 1x, ./images/gallery/gallery-desktop@2x.webp 2x, ./images/gallery/gallery-desktop@3x.webp 3x"
                media="(min-width: 1200px)" type="image/webp">
            <source
                srcset="./images/gallery/gallery-desktop.png 1x, ./images/gallery/gallery-desktop@2x.png 2x, ./images/gallery/gallery-desktop@3x.png 3x"
                media="(min-width: 1200px)">
            <source
                srcset="./images/gallery/gallery-tablet.webp 1x, ./images/gallery/gallery-tablet@2x.webp 2x, ./images/gallery/gallery-tablet@3x.webp 3x"
                media="(min-width: 768px)" type="image/webp">
            <source
                srcset="./images/gallery/gallery-tablet.png 1x, ./images/gallery/gallery-tablet@2x.png 2x, ./images/gallery/gallery-tablet@3x.png 3x"
                media="(min-width: 768px)">
            <source
                srcset="./images/gallery/gallery-mobile.webp 1x, ./images/gallery/gallery-mobile@2x.webp 2x, ./images/gallery/gallery-mobile@3x.webp 3x"
                media="(max-width: 767px)" type="image/webp">
            <source
                srcset="./images/gallery/gallery-mobile.png 1x, ./images/gallery/gallery-mobile@2x.png 2x, ./images/gallery/gallery-mobile@3x.png 3x"
                media="(max-width: 767px)">
            <img src="./images/gallery/gallery-desktop.png" alt="мороженое и довольные клиенты" width="1280">
        </picture>

    </div>
</section>
