<header class=" container-padding">
  <div class="header contaiiner">
  <img src="./images/hero-header/desktop/logo1.png" alt="">
  <nav>
    <ul class="navigation">
      <li class="navigation__class-color"><a href="./"></a>Home</li>
      <li class="navigation__class"><a href="#about"></a>About us</li>
      <li class="navigation__class"><a href="#made"></a>How it’s made?</li>
      <li class="navigation__class"><a href="#products"></a>Our products</li>
      <li class="navigation__class"><a href="#contacts"></a>Contact</li>
    </ul>

  </nav>
<div class="cloth-btn">
  <button class="dane" type="button"  data-menu-button>
  <img class="svg-burger" src="./images/hero-header/burger.png" alt="">
</button>
</div>
<div>
  <button class="header-btn" type="button">Buy now <span class="btn-svg">></span> </button></div>
</div>


<div class="mobil-menu" data-menu>
  <button class="mobil-menu-cloth-btn" data-menu-close>
    <img src="./images/hero-header/close.png" alt="">
  </button>
  <div>
    <button class="mobil-btn" type="button">Buy now <span class="btn-svg">></span> </button></div>
  <ul class="mobil-list">
    <li class="border-two"><a href=""></a>Home</li>
    <li class="border"><a href=""></a>About us</li>
    <li class="border"><a href=""></a>How it’s made?</li>
    <li class="border"><a href=""></a>Our products</li>
    <li class="border"><a href=""></a>Contact</li>
  </ul>
  </div>
  </div>
</header>

<section class="cover ">
  <div class="background">

  <div class="contaiiner">
  <div class="hero">

<div class="hero__absolut">
  <h1 class="title-hero">ice cream made with <span class="hero-title-span">passion</span> </h1>
  <button class="base__button" type="button">Products</button>
  <button class="base__button-two" type="button">How it’s made?</button>
</div>
<div class="number-list">
  <ul  class="number-bottom list">
      <li>
          <p class="number-hero">16</p>
          <p class="number-hero__under">cafes</p>
          <img class="elips-little" src="./images/hero-header/desktop/ellipse_two.png" alt="">
      </li>
      <li>
          <p class="number-hero">23</p>
          <p class="number-hero__under">food trucks</p>
          <img  class="elips-little-two" src="./images/hero-header/desktop/ellipse_two.png" alt="">
      </li>
  </ul>
</div>
</div>

<div class="bottum-section-hero">

<div class="milk__img" >
  <picture>

    <source srcset="./images/hero-header/desktop/slider-pic51.webp 1x, ./images/hero-header/desktop/slider-pic51@2x.webp 2x" 
    media="(min-width: 1200px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic51.png 1x, ./images/hero-header/desktop/slider-pic51@2x.png 2x" 
    media="(min-width: 1200px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic51.webp 1x, ./images/hero-header/desktop/slider-pic51@2x.webp 2x" 
    media="(min-width: 768px)">
                
    <source srcset="./images/hero-header/desktop/slider-pic51.png 1x, ./images/hero-header/desktop/slider-pic51@2x.png 2x" 
    media="(min-width: 768px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic51.webp 1x, ./images/hero-header/desktop/slider-pic51@2x.webp 2x" 
    media="(min-width: 480px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic51.png 1x, ./images/hero-header/desktop/slider-pic51@2x.png 2x" 
    media="(min-width: 480px)">
  <img class="size" src="./images/hero-header/desktop/slider-pic51.png" alt="">

  </picture>

</div>
<div class="about-hero">
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> 
  <img class="size-circul" src="./images/hero-header/desktop/arrow-right3.png" alt="">
</div>
<div>
<picture>

  <source srcset="./images/hero-header/desktop/slider-pic71.webp 1x, ./images/hero-header/desktop/slider-pic71@2x.webp 2x" 
  media="(min-width: 1200px)">

  <source srcset="./images/hero-header/desktop/slider-pic71.png 1x, ./images/hero-header/desktop/slider-pic71@2x.png 2x" 
  media="(min-width: 1200px)">

  <source srcset="./images/hero-header/desktop/slider-pic71.webp 1x, ./images/hero-header/desktop/slider-pic71@2x.webp 2x" 
  media="(min-width: 768px)">
              
  <source srcset="./images/hero-header/desktop/slider-pic71.png 1x, ./images/hero-header/desktop/slider-pic71@2x.png 2x" 
  media="(min-width: 768px)">

  <source srcset="./images/hero-header/desktop/slider-pic71.webp 1x, ./images/hero-header/desktop/slider-pic71@2x.webp 2x" 
  media="(min-width: 480px)">

  <source srcset="./images/hero-header/desktop/slider-pic71.png 1x, ./images/hero-header/desktop/slider-pic71@2x.png 2x" 
  media="(min-width: 480px)">

  <img class="iceclem" src="./images/hero-header/desktop/slider-pic71.png" alt="">
</picture>
</div>
<div  class="bottum-section-hero-two">
  <picture>

    <source srcset="./images/hero-header/desktop/slider-pic41.webp 1x, ./images/hero-header/desktop/slider-pic41@2x.webp 2x" 
    media="(min-width: 1200px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic41.png 1x, ./images/hero-header/desktop/slider-pic41@2x.png 2x" 
    media="(min-width: 1200px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic41.webp 1x, ./images/hero-header/desktop/slider-pic41@2x.webp 2x" 
    media="(min-width: 768px)">
                
    <source srcset="./images/hero-header/desktop/slider-pic41.png 1x, ./images/hero-header/desktop/slider-pic41@2x.png 2x" 
    media="(min-width: 768px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic41.webp 1x, ./images/hero-header/desktop/slider-pic41@2x.webp 2x" 
    media="(min-width: 480px)">
  
    <source srcset="./images/hero-header/desktop/slider-pic41.png 1x, ./images/hero-header/desktop/slider-pic41@2x.png 2x" 
    media="(min-width: 480px)">
 
 <img  src="./images/hero-header/desktop/slider-pic41.png" alt="">
  </picture>
 
</div>

</div>
</div>
<div class="hidden">
<img class="elips" src="./images/hero-header/desktop/ellipse2.png" alt="">
</div>

</div>
</section>
<script src="./js/mobil.js"> </script>