<header class=" container-padding">
  <div class="header contaiiner">
  <img src="./images/hero-header/desktop/logo1.png" alt="">
  <nav>
    <ul class="navigation">
      <li class="list"><a  class="navigation__class-color" href="./">Home</a></li>
      <li class="list"><a class="navigation__class" href="#about">About us</a></li>
      <li class="list"><a class="navigation__class" href="#made">How it’s made?</a></li>
      <li class="list"><a class="navigation__class" href="#products">Our products</a></li>
      <li class=" list"><a class="navigation__class" href="#contacts">Contact</a></li>
    </ul>

  </nav>
<div class="cloth-btn">
  <button class="dane" type="button"  data-menu-button>
  <img class="svg-burger" src="./images/hero-header/burger.png" alt="">
</button>
</div>
<div class="header-btn-div" >
  <button class="header-btn" type="button">Buy now <span class="btn-svg">></span> </button></div>
</div>


<div class="mobil-menu" data-menu>
  <button class="mobil-menu-cloth-btn" data-menu-close>
    <img src="./images/hero-header/close.png" alt="">
  </button>
  <div>
    <button class="mobil-btn" type="button">Buy now <span class="btn-svg">></span> </button></div>
  <ul class="mobil-list">
    <li class="list"><a class="border-two" href="">Home</a></li>
    <li class="list"><a class="border" href="">About us</a></li>
    <li class="list"><a class="border" href="">How it’s made?</a></li>
    <li class="list"><a class="border" href="">Our products</a></li>
    <li class="list"><a class="border" href="">Contact</a></li>
  </ul>
  </div>
  </div>
</header>

<section class="cover ">
  <div class="background">

  <div class="contaiiner">
    <div>
      <picture>
      
        <source srcset="./images/hero-header/desktop/slider-pic71.webp 1x, ./images/hero-header/desktop/slider-pic71@2x.webp 2x" 
        media="(min-width: 1200px)">
      
        <source srcset="./images/hero-header/desktop/slider-pic71.png 1x, ./images/hero-header/desktop/slider-pic71@2x.png 2x" 
        media="(min-width: 1200px)">
      
        <source srcset="./images/hero-header/desktop/slider-pic71.webp 1x, ./images/hero-header/desktop/slider-pic71@2x.webp 2x" 
        media="(min-width: 768px)">
                    
        <source srcset="./images/hero-header/desktop/slider-pic71.png 1x, ./images/hero-header/desktop/slider-pic71@2x.png 2x" 
        media="(min-width: 768px)">
      
        <source srcset="./images/hero-header/desktop/slider-pic71.webp 1x, ./images/hero-header/desktop/slider-pic71@2x.webp 2x" 
        media="(min-width: 480px)">
      
        <source srcset="./images/hero-header/desktop/slider-pic71.png 1x, ./images/hero-header/desktop/slider-pic71@2x.png 2x" 
        media="(min-width: 480px)">
      
        <img class="iceclem" src="./images/hero-header/desktop/slider-pic71.png" alt="">
      </picture>
      </div>
  <div class="hero">

<div class="hero__absolut">
  <h1 class="title-hero">ice cream made with <span class="hero-title-span">passion</span> </h1>

<a href="#Products"><button  class="base__button" type="button">Products</button></a></button></a>
<a href="#How_t’s_made"><button class="base__button-two" type="button">How it’s made?</button></a>  
</div>
<div class="number-list">
  <ul  class="number-bottom list">
      <li class="befor-li">
          <p class="number-hero">16</p>
          <p class="number-hero__under">cafes</p>
      </li>
      <li class="befor-li">
          <p class="number-hero">23</p>
          <p class="number-hero__under">food trucks</p>
      </li>
  </ul>
</div>
</div>

<div class="bottum-section-hero">

<div class="about-hero">
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> 
  <img class="size-circul" src="./images/hero-header/desktop/arrow-right3.png" alt="">
</div>

<div  class="bottum-section-hero-two">

 
</div>

</div>
</div>
<div class="hidden">
<img class="elips" src="./images/hero-header/desktop/ellipse2.png" alt="">
</div>

</div>
</section>
<script src="./js/mobil.js"> </script>