<div class="backdrop is-hidden " data-modal>
    <div class="modal">
        <button class="close__btn" type="button" data-modal-close>
            <svg class="button-close__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close-modal"></use>
            </svg>
        </button>
        <h2 class="title__modal title">
            How it’s made
        </h2>
        <p class="modal__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fugit nobis ratione sed voluptatem,
            aliquam aspernatur error reiciendis sequi est quaerat labore assumenda. Ea beatae itaque corporis,
            distinctio eveniet iusto.
        </p>
        <p class="modal__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fugit nobis ratione sed voluptatem,
            aliquam
            aspernatur error reiciendis sequi est quaerat labore assumenda. Ea beatae itaque corporis, distinctio
            eveniet iusto.
        </p>
        <p class="modal__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fugit nobis ratione sed voluptatem,
            aliquam
            aspernatur error reiciendis sequi est quaerat labore assumenda.Ea beatae itaque corporis, distinctio eveniet
            iusto.
        </p>
    </div>
</div>