.contacts {
  background-image: linear-gradient(to bottom, rgba(0, 128, 192, 0) 84px, $section-bg-color 0);
  padding-bottom: 133px;
  position: relative;

  &__bubble {
    display: none;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, rgba(0, 128, 192, 0) 78px, $section-bg-color 0);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to bottom, rgba(0, 128, 192, 0) 102px, $section-bg-color 0);

    &__bubble {
      position: absolute;
      display: block;
      top: 102px;
      right: 0;
      width: 100vw;
    }
  }
}

.contacts-list {
  &__item {
    padding: 43px 21px 43px 20px;
    background: $main-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    &__item {
      padding: 50px 32px 50px 31px;
      margin-left: 20px;
      flex-basis: calc((100% - 60px) / 3);
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-left: -29px;

    &__item {
      padding: 52px 44px 61px 43px;
      margin-left: 29px;
      flex-basis: calc((100% - 87px) / 3);
    }
  }
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 80px;
  height: 16px;
  color: $main-color;
  background: #f0d1a5;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
    width: 73px;
    height: 28px;
  }

  .contacts-list__item:nth-child(2n) & {
    width: 130px;
    background: #c2e297;

    @media screen and (min-width: 768px) {
      width: 138px;
      height: 28px;
    }
  }
}

.contacts-card {
  &__city-name,
  &__working-day {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: $base-color;
    margin-top: 25px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;
    margin-top: 10px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.66;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.83;
    }
  }

  &__working-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: $suptitle-color;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__tel,
  &__email {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $text-color;
    display: block;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.83;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__tel::before,
  &__description::after {
    content: "";
    border: 1px solid #e1e1e1;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.contacts-button {
  display: grid;
  justify-content: center;
  margin-top: 54px;

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 81px;
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
      margin-right: 14px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}

.accent-btn {
  background-color: $title-color;
  color: $main-color;
  line-height: 1.3;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 12px 34px 12px 19px;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    color: $main-color;
    border-radius: 22px;
    padding: 12px 48px 12px 35px;
  }

  @media screen and (min-width: 1280px) {
    padding: 12px 54px 12px 36px;
  }

  &:hover,
  &:focus {
    background: #a01235;
  }
}

.base-btn {
  background-color: $main-color;
  color: $title-color;
  font-size: 16px;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 700;
  border: none;
  padding: 12px 54px 12px 32px;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    border-radius: 22px;
    padding: 12px 65px 12px 34px;
  }

  @media screen and (min-width: 1280px) {
    padding: 12px 67px 12px 38px;
  }

  &:hover,
  &:focus {
    background: #e4e4e4;
  }
}

.accent-icon {
  position: absolute;
  top: 17px;
  margin-left: 6px;
  stroke: $main-color;
  width: 12px;
  height: 12px;

  @media screen and (min-width: 768px) {
    margin-left: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 16px;
  }
}

.base-icon {
  position: absolute;
  top: 17px;
  margin-left: 12px;
  stroke: $title-color;
  width: 12px;
  height: 12px;

  @media screen and (min-width: 768px) {
    margin-left: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 18px;
  }
}

.city-maps {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  cursor: pointer;
  color: #ff5b81;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: #d41443;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.city-maps:not(:last-child)::after {
  content: "";
  display: flex;
  border: 1px solid #e1e1e1;
  margin-top: 6px;
  margin-bottom: 6px;
}

.myDrop {
  display: none;
  width: 100%;
  overflow: auto;
  z-index: 1;
  background: #ffffff;
  margin-top: 10px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
  border-radius: 24px;
  padding: 14px 20px;
}

.contacts-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 185, 192, 0.4);
  padding: 100px 20px;
}

.modal-maps {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.4);
  border-radius: 24px;
  padding: 30px 34px;
  max-width: 450px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
}

.close {
  width: 20px;
  height: 20px;
  background-color: black;
  &__icon {
    position: absolute;
    right: 20px;
    width: 16px;
    height: 14px;
    stroke: #ffa5ba;
    transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:hover,
  &__icon:focus {
    stroke: #d41443;
  }
}

.modal-list {
  &__city {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    color: #000000;

    &:first-child {
      margin-bottom: 26px;
    }
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__maps {
    width: 100%;
    height: 370px;
    border-radius: 22px;

    @media screen and (min-width: 768px) {
      height: 400px;
    }
  }

  &__route {
    display: grid;
    justify-content: center;
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      margin-top: 26px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #ffa5ba;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__link:hover,
  &__link:focus {
    text-decoration: underline;
    color: #d41342;
  }
}
.show {
  display: block;
}
