.backdrop {
  z-index: 1000;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(247, 177, 209, 0.404);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.backdrop.is-hidden {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}
.modal-about {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  height: 96vh;
  max-width: 500px;
  max-height: 550px;
  border-radius: 22px;

  background-color: #e17992;
  padding: 20px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  @media screen and(max-width: 460px) {
    overflow-y: scroll;
  }
}
.backdrop.is-hidden .modal-about {
  transform: translate(-50%, -50%) scale(0) rotate(0deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;

  & .button-close__icon:hover,
  & .button-close__icon:focus {
    fill: $base-color;
  }

  & .button-close__icon {
    fill: $main-color;
  }
}
.title__modal {
  color: $main-color;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 20px;
}
.modal-text {
  font-size: 14px;
  line-height: 1.5;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
